@charset "utf-8";
.sidebar-menu li.active .fa-angle-left:before {
    content: "\f107";
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span,
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
}
.sidebar-menu li > a > span.pull-right-container{
    top:15px;
    font-size:12px;
    margin-top:0px;
    padding:0px 0px 0px 0px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span.pull-right-container {
    position: absolute !important;
    float: right;
    width: auto !important;
    left: 200px !important;
    top: 4px !important;
    z-index: 900
}