body{
	height:100%;
	min-height: 600px;
	min-width: 800px;
	overflow: auto;
	background: #fff;
}
.content{
    position: relative;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
   /*  background-position: 0 70px; */
    background-image: url("/medicshop/resources/images/loginbg1px.png");
}
.content img.biglogo{
	height:320px;
	margin-left:200px;
	margin-top:50px;
}

.head{
    height: 100px;
    background: #fff;
    line-height: 90px;
}
.head img{
	margin-left:200px;
}
.head span{
    font-size:20px;
    margin-left:30px;
    color: #999;
}

.footer{
	color:#999;
	text-align:center;
	font-size:12px;
	line-height: 60px;
}


h2{
	text-align:center;
font-size:20px; 
margin:auto;
margin-bottom:30px;
font-weight: 200;
padding-bottom: 10px;
width:80px;
border-bottom: 2px solid #FFA200;
}

.loginwin{
	float: right;
	margin-top:50px;
	margin-right:160px;
    width: 280px;
    background: rgba(255,255,255,.9);  
    border-radius:4px;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
    box-shadow: none;
    
}
.loginwin:hover{
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-color: #d8d8d8;
}

.loginwin form{ 
	margin:40px;
	width:200px;
	margin-top:30px;
}



.btn-primary{
	background-color: #0DA1FF;
	border-color: #0DA1FF;
}
.btn-primary:hover,.btn-primary:active{
	background-color: #108ee9;
	border-color: #108ee9;
}
.btn{
/* 	height:44px; */
	font-size: 16px;
}

.input-group-addon{
	background: #ffffff;
}

.fa{
	color: #999;
}
