*{
	/* font-size:12px; */
}

body {
	
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif, Arial;
	margin: 0px;
/* 	padding:0px 15px; */
/*  	min-height: 400px; */
}

.btn,.pagination>li>a, .pagination>li>span,.input-group-addon{
	padding:3px 12px;
}
.btn-xs{
	padding:1px 5px;
}
.form-control{
	/* height:initial; */
	height:25px;
}
.form-group input[type="radio"], .form-group input[type="checkbox"]{
	height:24px;
	line-height: 24px;
	margin:0px;
	margin-left:-20px;
}
.form-horizontal .form-group input[type="radio"], .form-horizontal .form-group input[type="checkbox"]{
	margin-left:0px;
}
.radio label, .checkbox label{
	height:24px;
	line-height: 24px;
}
input.form-control{
	padding:3px 6px !important;
	height:25px;
	vertical-align: middle;
}
.box-footer{
	padding: 6px;
}
.pagination{
	display:block;
}
.form-horizontal .control-label {
	padding-top:0px;
	line-height: 24px;
}

.file-caption{
	padding:3px 12px;
}
.modal-footer{
	padding:10px 20px;
}
.modal-title{
	font-size: 14px !important;
}
.form-group{
	margin-top: 0px;
}
input.file-caption-name{
	border-width:0px;
	width:90%;
}

.container-fluid .nav>li>a{
	padding:0px 10px;
	line-height: 50px;
}

.dotHidden{
	display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
/* 下拉菜单 */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus{
	color:#ccc;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: #367fa9;
  color: #f6f6f6;
}


/* 下拉选单 */
.select2-container .select2-selection--single .select2-selection__rendered{
	height:24px;
	line-height: 24px;
	min-height: 24px;
}
.select2-container .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:24px;
}
.select2-results__option{
	padding:3px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
	display:block;
}
.select2-container .select2-selection--multiple{
	min-height: 24px;
}
.select2-container .select2-search--inline .select2-search__field{
	margin-top :3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	margin-top :2px;
	margin-bottom: 2px;
}

/* 表格 */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding:3px 0px;
	word-break:break-all;
}

table>thead>tr>th:first-child{
/* 	padding:0px 10px; */
	min-width: 20px;
}

.bootstrap-table1 .fa{
	width:16px;
	height:16px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	border-radius:50%;
}

.iframebody .bootstrap-table1.box{
	margin-bottom:0px;
}
.radio-inline, .checkbox-inline{
	line-height: 24px;
}
.box{
	border:1px solid #e8e8e8;
}
.box .bootstrap-table1{
	border-width: 0px;
}

.singlebox .box{
	margin-bottom: 0px;
}
.box-footer{
	border-top: 0px;
}
.box-body thead th .sortable{
	padding-right: 0px;
}
.box-body thead th .sortable.bgLeft{
	background-position:left;
}
.tooltip-inner  {
    text-align:left;
    background: #aaa;
}
.bst-footer-tr{
	background-color: #eee;
}




.bootstrap-table1.box .box-body{
 	/* min-height: 390px; */
} 

.bootstrap-table1 .col-xs-1, 
.bootstrap-table1 .col-xs-2, 
.bootstrap-table1 .col-xs-3, 
.bootstrap-table1 .col-xs-4, 
.bootstrap-table1 .col-xs-5, 
.bootstrap-table1 .col-xs-6, 
.bootstrap-table1 .col-xs-7, 
.bootstrap-table1 .col-xs-8, 
.bootstrap-table1 .col-xs-9, 
.bootstrap-table1 .col-xs-10, 
.bootstrap-table1 .col-xs-11, 
.bootstrap-table1 .col-xs-12 {
	padding-left: 5px;
    padding-right: 5px;
}
.bootstrap-table1 label.control-label{
	line-height: 25px;
	margin-bottom: 0px;
	font-weight: normal;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    border-left: 1px dotted #ddd;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.table thead tr{
	background-color: #eee;
}

/* 折页 */
.tabs .nav{
	margin-bottom: 0px;
	background: #ffffff;
 	padding-left:5px;
 	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #d8d8d8;
}

.tabs .nav>li>a {
	margin-top:3px;
	border-width:0px;
	 border-bottom-width:3px;
    padding: 5px 10px;
    color:#999;
}

.tabs .nav>li>a:hover {
	border-width:0px;
    color:#999;
    border-bottom: 3px solid #d8d8d8;
}

.nav>li>a{
	padding:5px 15px;
}
.nav-tabs{
	margin-bottom:5px;
}

.tabs .nav-tabs>li.active>a,.tabs .nav-tabs>li.active>a:hover,.tabs .nav-tabs>li.active>a:focus{
	color: #555;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom: 3px solid #3c8dbc;
    cursor: default;
}


/* 面板缩放 */
/* .daterangepicker,.datepicker,.selectTable{ */
.daterangepicker,.selectTable{
/*    	transform-origin:top left;
   	transform:scale(1.1); */
}
/* .box{
	width:125%;
	transform-origin:top left;
   	transform:scale(0.8);
} */

/** 左边菜单 */
.main-sidebar, .left-side{
	width:180px;
}
.content-wrapper, .right-side, .main-footer{
	margin-left: 180px;
}
.main-header .logo{
	width:180px;
}
.main-header .navbar{
	margin-left: 180px;
}
.container-fluid{
	margin-left:0px;
	padding:0px;
}

.second-menu {
    position: absolute;
	display:none;
    z-index: 1055;
    top: 0;
    left: 180px;
    border-left: 1px solid #ddd;
    box-shadow: 1px 0 6px rgba(0,0,0,.2);
}

 .second-menu .second-menu-wrap {
    overflow: hidden;
    display: table;
    padding: 10px 0;
    background-color: #222d32;
    white-space: nowrap;
    position: relative;
    z-index: 1055;
}
 .second-menu .second-menu-item {
    display: table-cell;
    line-height: 30px;
    height: 100%;
    border-right: 1px solid #eef1f9;
    font-size: 11px;
}
.second-menu .second-menu-item:last-child {
    border-right: 0;
}
.second-menu .second-menu-item .second-menu-title {
    color: #222d32;
    padding: 5px 40px;
    background: #666;
    margin-left: 10px;
}
.second-menu .second-menu-item a {
    padding: 10px 30px;
}

.sidebar-menu li.treeview:hover .second-menu{
	display: block;
}

.sidebar-collapse 	.second-menu{
	left:50px;
}

.user-menu .fa.fr{
	width: 80px;
    height: 80px;
    font-size: 40px !important;
    line-height: 80px;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
}
.navbar-nav>.user-menu>.dropdown-menu{
	width:240px;
}
 
.content-header{
	padding:0px;
}
.content-header>.breadcrumb{
	top:2px;
	transform-origin:top right;
	transform:scale(0.9);
	color:#fff;
	border-left: 2px solid #3c8dbc;
}

.content-header>.breadcrumb>li{
	color:#999;
}
.breadcrumb>li.active{
	color:#555;
}
.bs-checkbox{
	text-align: center;
}
.no-records-found>td{
	padding-left:10px !important;
}
