 .swiper_wrap{
			position: relative;
			width: 400px;
			height: 30px;
			margin: 0 auto;
			overflow: hidden;
			top:10px;
		}
		.swiper_wrap ul{
			position: relative;
			top: 0;
			left: 0;
			width: 400px;
			float: right;
		  	color: #fff;
		 	margin-top: 1px;
		}
		.swiper_wrap ul li{
			line-height: 30px;
			padding-left: 24px;
		}
		.swiper_wrap .lt{
			position: absolute;
			left: -1px;
			top: 7px;
			font-family: "宋体";
			font-weight: bold;
			color: #AAAAAA;
		}
		.swiper_wrap .gt{
			position: absolute;
			right: 26px;
			top: 7px;
			font-family: "宋体";
			font-weight: bold;
			color: #AAAAAA;
		}
		 .swiper_wrap .font_inner a{
			color: #fff;
		}
		 .swiper_wrap a:hover{
			color: #ff6600;
	}