*{
	/* font-size:12px; */
}

body {
	
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif, Arial;
	margin: 0px;
/* 	padding:0px 15px; */
 	min-height: 400px;
}

.bgcolor{
	background-color: rgb(238, 238, 238);
}

.table-bordered{
    width: 100%; 
    max-width: 100%;
    border: 1px solid #ddd;
    border-collapse:collapse;
}
.table-bordered tr{
    height: 35px;
}
.table-bordered tr th{
	text-align: left;
    background-color: #f5f9ff;
}
.table-bordered th, .table-bordered td{
    border: 1px solid #ddd;
}
.table-bordered th{
    padding-left: 10px;
    padding-right: 10px;
}
.table-bordered td{
    padding-left: 10px;
    padding-right: 10px;
}
.table-bordered tr td{
	font-size:10px;
    background-color: #f5f9ff;
}
.table-print{
   
    border: 1px solid #ddd;
    border-collapse:collapse;
}
.table-print th, .table-print td{
    border: 1px solid #ddd;
}
.table-bordered1{
    width: 100%; 
    max-width: 100%;
    border: 1px solid #ddd;
    border-collapse:collapse;
}
.table-bordered1 tr{
    height: 30px;
}
.table-bordered1 tr th{
    background-color: #f5f9ff;
}
.table-bordered1 th, .table-bordered1 td{
    border: 1px solid #ddd;
}
.table-bordered1 th{
    padding-left: 5px;
    padding-right: 5px;
}
.table-bordered1 td{
    padding-left: 5px;
    padding-right: 5px;
}
.table-bordered1 tr td{
    background-color: #f5f9f8;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.STYLE4CLASS {color: #0000CC}

.errmsg{
	border:2px solid red ;
	color:red;
}

.combo-clear {  
  background-color: #E0ECFF;  
  width: 18px;  
  height: 20px;  
  overflow: hidden;  
  display: inline-block;  
  vertical-align: top;  
  cursor: pointer;  
  opacity: 0.6;  
  filter: alpha(opacity=60);  
  background: url('../images/combo_clear.png') no-repeat center center;  
}  
.combo-clear-hover {  
  opacity: 1.0;  
  filter: alpha(opacity=100);  
  background-color: #eaf2ff;  
}
.easyui-linkbutton .l-btn-text{
	line-height: 20px;
}

.easyui-numberbox,.numberbox .textbox-text{
	text-align:right !important;
}

textarea{
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;   
	border: 1px solid #D4D4D4;
	resize:none;
	outline-style: none;
}

.my-west{
	border-left:0px;
	width:600px;
	background: #F2F2F2;
	padding:2px;
}
.my-north{
	border-left:0px;
	border-right:0px;
	width:100%;
	height:300px;
	background: #F2F2F2;
	padding:2px;
}

.my-center{
	border-left:0px;
	border-right:0px;
	width:100%;
	background: #F2F2F2;
	padding:2px;
}
.tt-north{
	height:300px;
	background: #F2F2F2;
	padding:2px;
}

.tt-center{
	background: #F2F2F2;
	padding:2px;
}
.my-single{
	width: 100%;
    height: 100%;
}
.single-dg{
	padding: 0px 15px 15px 15px;
}
.open-dg{
	padding: 2px; 
}


.search-bar{
	padding: 3px; 
}

.search-bar b{
	margin-left: 5px;
	padding-left:10px; 
}

.search-bar i{
	margin-right: 5px;
	padding-right:10px; 
}


.split-line{
	vertical-align: middle; 
	display:inline-block;
	float:none;
}
.search-filter{
	float:right;
	margin-top:2px
}

.my-tabs{
	padding:3px;
}
/**datagrid长字段省略号现实 **/
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
    text-overflow: ellipsis;
}

.datagrid-footer{
	background:#f5f5f5;
}
.datagrid-footer td{
	font-weight:bold;
	border-width: 0px 1px 0px 0px;
    border-style: dotted;
}
.datagrid-row-selected {
    background: #79A1B5;
    color: #fff;
}
.tree-node-selected {
    background: #79A1B5;
    color: #fff;
}

.form-row{
	display:flex;
}
.form-row .form-group{
	width:50% ;
	margin: 5px 0px !important;
    line-height: initial !important;
    height: initial !important;
}

.form-group.w100{
	width:100%;
}
.form-group.w50{
	width:50%;
}


