<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.dao.IUserDao">
    <resultMap  type="User" id="base">
        <id column="id" jdbcType="INTEGER"  property="id"></id>
        <result property="empId" column="empId" />
        <result property="name" column="name" />
        <result property="pwd" column="pwd" />

    </resultMap>


    <select id="getName" parameterType="java.lang.String" resultMap="base">
        SELECT * FROM t_user
      WHERE empId = #{empId}
    </select>


    <insert id="insert"  parameterType="User" keyProperty="id">
        <![CDATA[
            INSERT INTO t_user(
            id,empId,name,pwd
            ) VALUES (#{id},#{empId},#{name},#{pwd}
            )
        ]]>
    </insert>

    <select id="getById"  parameterType="java.lang.Long" resultMap="base">
      SELECT * FROM t_user
      WHERE id = #{id}
    </select>

    <select id="login"  resultMap="base">
        SELECT * FROM t_user
        WHERE empId = #{empId}
        <if test="pwd != '' and pwd != null">
            and pwd = #{pwd}
        </if>
    </select>

    <select id="listByAll"  resultMap="base">
        SELECT * FROM t_user
    </select>

    <update id="update" parameterType="User">
        UPDATE t_user
        SET empId = #{empId},pwd = #{pwd},isLocked=#{isLocked},errTimes=#{errTimes},isDisabled=#{isDisabled},currentSessionId=#{currentSessionId}
        ,createDate = #{createDate},modifyDate = #{modifyDate},createUser = #{createUser},modifyUser = #{modifyUser}
        WHERE id = #{id}
    </update>



</mapper>